/* SmashTheStack Design by l3thal */


/**************** Body and tag styles ****************/

*{margin:0; padding:0;}

body{
font:76% Verdana,Tahoma,Arial,sans-serif;
line-height:1.4em;
text-align:center;
color:#ffffff;
background:#222222;
}

a{
color:#FFFFFF;
text-decoration:none;
background-color:inherit;
}

.inputs label {
padding: 14px 0 0 20px;
font-size: 13px;
line-height: 18px;
float: left;
width: 84px;
text-align: left;
color: #404040;
}

#update {
float:left;margin: 15px 17px 15px 20px;
}

a:hover{color:#80a630; text-decoration:none; background-color:inherit;}
a img{border:none;}

p{padding:0 0 1.6em 0;}
p form{margin-top:0; margin-bottom:20px;}

img.left,img.center,img.right{padding:4px; border:1px solid #a0a0a0;}
img.left{float:left; margin:0 12px 5px 0;}
img.center{display:block; margin:0 auto 5px auto;}
img.right{float:right; margin:0 0 5px 12px;}

a.green{
color:#80a630;
font-weight:bold;
text-decoration:none;
background-color:inherit;
}
.green{
color:#80a630;
background-color:inherit;
}
/**************** Header and navigation styles ****************/

#container{
width:882px;
margin:20px auto;
padding:1px 0;
text-align:left;
background:#000000;
color:#999999;
border:2px solid #333333;
}

#header{
height:158px;
width:880px;
margin:0 1px 1px 1px;
background:#000000;
color:#ffffff;
overflow:hidden;
}

#header h1{
padding:35px 0 0 20px;
font-size:2.4em;
background-color:inherit;
color:#ffffff;
letter-spacing:-2px;
font-weight:normal;
}

#header h2{
margin:10px 0 0 20px;
font-size:1.4em;
background-color:inherit;
color:#80a630;
letter-spacing:-1px;
font-weight:normal;
}

#navigation{
height:2.2em;
line-height:2.2em;
width:720px;
margin:0 1px;
background:#222222;
color:#999999;
}

#navigation li{
float:left;
list-style-type:none;
white-space:nowrap;
}

#navigation li a{
display:block;
padding:4px 18px;
height:30px;
font-size:1.0em;
font-weight:normal;
text-decoration:none;
background-color:inherit;
color: #999999;
}

* html #navigation a {width:1%;}

#navigation .selected,#navigation a:hover {
background:#000000;
color:#80a630;
text-decoration:none;
}

/**************** Content styles ****************/

iframe{
padding:10px;
width:860px; 
height:500px;
border:none;
overflow:hidden;
}

#content{
float:left;
width:570px;
min-height:400px;
font-size:1em;
padding:20px 0 0 20px;
}

#content2{
margin:auto;
width:700px;
min-height: 400px;
font-size:1.1em;
padding:20px 0 0 50px;
}

#content h2{
display:block;
font-size:1.5em;
font-weight:bolder;
letter-spacing:-1px;
color:#80a630;
background-color:inherit;
}

#content h2 a{font-weight:normal;}
#content h3{margin:0 0 5px 0; font-size:1.4em; letter-spacing:-1px;}
#content a:hover,#subcontent a:hover{text-decoration:underline;}
#content ul,#content ol{margin:0 5px 16px 5px;list-style-type:none;}
#content dl{margin:0 5px 10px 25px;}
#content dt{font-weight:bold; margin-bottom:5px;}
#content dd{margin:0 0 10px 15px;}

/**************** Sidebar styles ****************/

#subcontent{
float:right;
width:235px;
padding:20px 20px 10px 0;
line-height:1.4em;
}

#subcontent h2{
display:block;
font-size:1.5em;
font-weight:bold;
text-align:left;
letter-spacing:-1px;
color:#80a630;
background-color:inherit;
}

#subcontent p{margin:0 0 16px 0; font-size:1em;}

/**************** Menublock styles ****************/

.menublock{margin:0 0 20px 8px; font-size:0.9em;}
.menublock li{list-style:none; display:block; padding:2px; margin-bottom:2px;}
.menublock li a{font-weight:bold; text-decoration:none;}
.menublock li a:hover{text-decoration:none;}
.menublock li ul{margin:3px 0 3px 15px; font-size:1em; font-weight:normal;}
.menublock li ul li{margin-bottom:0;}
.menublock li ul a{font-weight:normal;}

/**************** Searchbar styles ****************/

#searchbar{margin:0 0 20px 0;}
#searchbar form fieldset{margin-left:10px; border:0 solid;}

#searchbar #s{
height:1.2em;
width:110px;
margin:0 5px 0 0;
border:1px solid #a0a0a0;
}

#searchbar #searchbutton{
width:auto;
padding:0 1px;
border:1px solid #808080;
font-size:0.9em;
text-align:center;
}

/**************** Footer styles ****************/

#footer{
clear:both;
width:880px;
padding:5px 0;
margin:0 1px;
font-size:0.9em;
color:#f0f0f0;
background:#000000;
}

#footer p{padding:0; margin:0; text-align:center;}
#footer a{color:#f0f0f0; background-color:inherit; font-weight:bold;}
#footer a:hover{color:#ffffff; background-color:inherit; text-decoration: underline;}
#footerlinks{margin: auto; text-align: center;}
#footer a.green{color:#80a630;text-decoration:none;}

/**************** Misc classes and styles ****************/

.contentleft{float:left; width:32%;}
.contentright{float:right; width:66%;}
.footerright{float:right; margin: 0 5px 0 -80px}
.footerleft{float:left; margin: 0 -80px 0 5px}
.clear{clear:both;}
.small{font-size:1em;}
.hide{display:none;}
.textcenter{text-align:center;}
.textright{text-align:right;}
.important{color:#f02025; background-color:inherit; font-weight:bold;}
.items{position:relative;}
.items-holder{margin:20px 1px;height:170px}
#item-header, #item{float:left;width:20%;padding-left:5px}
#item{background:#666666;border-right:1px solid #000; border-bottom:1px solid #000;}
.item-left{color:#fff;font-weight:bold;}
.online{color:#80a630;}
.offline{color:red;font-weight:bold}
.item-right{color:#000;}

.box{
margin:0 0 20px 0;
padding:0px;
border:0px solid #333333;
background-color:#000000;
color:#999999;
line-height:1.5em;
}

.box4{
float:left;
margin:0 0 20px 0;
padding:0 5px 0 20px;
border:0px solid #333333;
background-color:#000000;
color:#999999;
line-height:1.5em;
}

.box2{
background-color:#000000;
color:#999999;
line-height:1.5em;
}
